<div class="row justify-content-center" style="margin-top: 1rem;">	
	<div class="card" style="width: 18rem;">
	 	<h4 class="card-title text-center" style="margin-top: 5px;"><%= @worker.surname %></h4>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Birth year: <%= @worker.birth_year %></li>
			<li class="list-group-item">Position: <%= @worker.position %></li>
			<li class="list-group-item">Actualy work in hospital num:
			<% if @worker.hospital_ids.present? %>
				<%= @numbers.each {|n| print n } %>
			</li>
			<% else %>
				<li class="list-group-item">No actual hirings</li>
			<% end %>
			<li class="list-group-item"><%= link_to 'Edit', edit_worker_path(@worker), class: "btn btn-danger btn-sm float-right" %> <%= link_to 'Back', workers_path, class: "btn btn-primary btn-sm float-left" %></li>
		</ul>
	</div>
</div>
